### DATA DUBLICATION
We will dublicate the dataset with dask in this file. Before of that I try to do it with PySpark. But because of many reason (there was so variable to set) I falled. Afterward with my senior's advice, I try to dublicate dataset with Dask.

Here important to care on channels of modules. Because I got so many errors. When I made sure to set the same channel between the installed modules, the errors stopped.
***
### REQUIREMENTS:

In [ ]:
import dask.dataframe as dd
import pandas as pd

***
### SOME ERRORS:
```AttributeError: module 'pyarrow.lib' has no attribute 'Bool8Type'``` 

1. Pandas and Dask was installed by PyPI and I thought the reason of inconsistency was withstand the different of channels. And I deleted both and installed with Conda (Because I was in the Conda environment).

```AttributeError: module 'pyarrow.lib' has no attribute 'Bool8Type'```

2. Unfortunately, I kept getting error `pyarrow.lib`. Afterward, I tried to delete PyArrow and install conda-forge version (Because PyArrow channel was PyPI also).

```
TypeError: Cannot convert numpy.ndarray to numpy.ndarray
TypeError: An error occurred while calling the read_csv method registered to the pandas backend.
Original Message: Cannot convert numpy.ndarray to numpy.ndarray
TypeError: An error occurred while calling the read_csv method registered to the pandas backend.
Original Message: An error occurred while calling the read_csv method registered to the pandas backend.
Original Message: Cannot convert numpy.ndarray to numpy.ndarray
```

3. And I tried to update Numpy, Pandas, Dask and PyArrow in one command: `conda update numpy pandas dask pyarrow`

```
TypeError: Cannot convert numpy.ndarray to numpy.ndarray
TypeError: An error occurred while calling the read_csv method registered to the pandas backend.
Original Message: Cannot convert numpy.ndarray to numpy.ndarray
TypeError: An error occurred while calling the read_csv method registered to the pandas backend.
Original Message: An error occurred while calling the read_csv method registered to the pandas backend.
Original Message: Cannot convert numpy.ndarray to numpy.ndarray
```

4. In this step, I become aware of Numpy channel (was PyPI). And I tried to do same thing on Nunpy. I uninstalled PyPI version and installed conda-forge version.
> Here I saw some interesting points. For example: After I uninstall Numpy, directly uninstalled Pandas, Dask and PyArrow.

5. Because of uninstalling Dask, I installed it again: `conda install dask`

And worked.

In [2]:
# Load your original CSV file
df = dd.read_csv('dataset/credits.csv')
df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [12]:
# Duplicate the DataFrame 100 times (delayed operation)
large_df = df.map_partitions(lambda pdf: pd.concat([pdf] * 300))

# Save the enlarged DataFrame to a new CSV file
large_df.to_csv('large_dataset.csv', index=False, single_file=True)

# Trigger the computation
large_df.compute()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
27408,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
27409,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
27410,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
27411,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
27412,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257